name: Deploy LBH Telegram Mini App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install
        working-directory: public

      - name: Run workflow logic
        run: node workflow.js
        working-directory: public

      - name: Build / Deploy
        run: |
          echo "Deploying LBH Mini App"
